@media (min-width: $tablet-width) {
  .appstore {
    position: absolute;
    top: 0%;
    padding-left: 20px;
    width: 300px;
  }
}

.appstore__title {
  width: 280px;
  margin: 0;
  padding-top: 95px;
  padding-left: 20px;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
  position: absolute;
  top: 0;

  @media (min-width: $tablet-width) {
    width: 200px;
    font-size: 40px;
    line-height: 48px;
    position: static;
    padding-top: 212px;
    padding-bottom: 39px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    font-weight: 300;
    font-size: 50px;
    padding-left: 0;
  }
}

.appstore__link {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 18px 35px 18px 35px;
  display: inline-block;
  margin: 28px 20px 38px 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 46px;
  }
}

.appstore__list {
  list-style: none;
  margin: 0;
}

.appstore__item {
  vertical-align: middle;
  display: inline-block;

  .appstore__link {
    border: 0;
    margin: 0;
    padding-right: 35px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 31px;
    display: flex;
  }
}

.appstore__description {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}
