.appstore{
    background-color: $darkblue;
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
}

.appstore__title{
  margin-top: 0;
  width: 280px;
  text-align: center;
  font-weight: 300;
  color: #fff;
}
