.catalog {
  padding-top: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 92px;
  }
}

.catalog__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.catalog__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $blue;
  padding-bottom: 51px;
  width: 277px;
  text-align: center;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 500px;
    font-size: 18px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    width: 572px;
    padding-bottom: 88px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__description br {
    display: none;
  }
}
