.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $blue;
  margin: 0;
  padding-top: 39px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  vertical-align: middle;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    margin-left: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 8px;
  }
}
