.copyright{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $blue;
  margin: 0;
  padding-top: 51px;
  padding-bottom: 50px;
}

.copyright__link{
  vertical-align: middle;
  margin-left: 15px;
}
