.failure-popup {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.failure-popup__wrapper {
  text-align: center;
}

.failure-popup__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.failure-popup__message {
  width: 280px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $blue;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.failure-popup__btn {
  width: 276px;
  border: none;
  border-radius: 1px;
  background-color: $green;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 50px;
}
