.features-description {
  background-color: $grey;
  text-align: center;
  position: relative;
}

.features-description::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-top: 10vw solid #ffffff;
  border-right: 100vw solid transparent;

  @media (min-width: $tablet-width) {
    border-top: 8.5vw solid #ffffff;
  }
}

.features-description__wrapper {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 900px;
    margin: 0 auto;
  }
}

.features-description__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 83px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
  }
}

@media (max-width: 659px) {
  .features-description__wrapper::after {
    content: "";
    display: block;
    width: 157px;
    height: 287px;
    background: url("../img/phone3.png") no-repeat bottom;
    margin-right: auto;
    margin-left: auto;

    @media (min-resolution: 2dppx) {
      background: url("../img/phone3-mobile@2x.png") no-repeat bottom;
      background-size: 100%;
      background-position: 100% 10px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: 959px) {
  .features-description__wrapper::before {
    content: "";
    display: block;
    width: 268px;
    height: 484px;
    background: url("../img/phone-tablet@1x.png") no-repeat bottom;
    position: absolute;
    bottom: 0;

    @media (min-resolution: 2dppx) {
      background: url("../img/phone-tablet@2x.png") no-repeat bottom;
      background-size: 100%;
    }
  }
}

.features-description__title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-left: 50%;
    margin-bottom: 10px;
    padding-top: 0;
    text-align: left;
    line-height: 29px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
    font-size: 30px;
    width: 240px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    &--phone1 {
      padding-right: 6px;
      padding-left: 6px;
    }

    &--phone1::before {
      content: "";
      display: block;
      background: url("../img/shadow.svg") no-repeat bottom, url("../img/phone1-desktop@1x.png") no-repeat center;
      width: 298px;
      height: 303px;
      background-size: 296px 80px, 185px;
      position: relative;
      background-position: -22px 265px, 26px 0;
      top: -58px;

      @media (min-resolution: 2dppx) {
        background: url("../img/shadow.svg") no-repeat bottom, url("../img/phone1-desktop@2x.png") no-repeat center;
        background-size: 99%;
        background-position: -28px 292px, -26px 0;
      }
    }

    &--phone2 {
      margin-bottom: 22px;
    }

    &--phone2::before {
      content: "";
      display: block;
      background: url("../img/phone2-desktop@1x.png") no-repeat center;
      background-size: 293px;
      width: 308px;
      height: 306px;
      position: relative;
      right: 31px;
      top: -59px;
      margin-bottom: -3px;

      @media (min-resolution: 2dppx) {
        background: url("../img/phone2-desktop@2x.png") no-repeat center;
        background-size: 95.5%;
        background-position: 6px 0;
      }
    }

    &--phone3 {
      padding-left: 6px;
    }

    &--phone3::before {
      content: "";
      display: block;
      top: -58px;
      background: url("../img/phone3-desktop@1x.png") no-repeat center;
      width: 308px;
      height: 305px;
      position: relative;
      right: 28px;
      margin-bottom: -3px;

      @media (min-resolution: 2dppx) {
        background: url("../img/phone3-desktop@2x.png") no-repeat center;
        background-size: 95%;
        background-position: 8px 0;
      }
    }
  }
}

.features-description__comment {
  color: $blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 280px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 50%;
    padding-bottom: 30px;
    text-align: left;
    width: 308px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    padding-left: 5px;
    width: 252px;
  }
}

@media (max-width: 659px) {
  .features-description__comment br {
    display: none;
  }
}

@media (min-width: $tablet-width) and (max-width: 959px) {
  .features-description__comment br:nth-child(1) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .features-description__comment br:nth-child(2) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .features-description__title--phone2 + .features-description__comment {
    width: 243px;
    padding-left: 0;
  }

  .features-description__title--phone3 + .features-description__comment {
    width: 243px;
  }
}

.features-description__item:last-child {
  @media (min-width: $tablet-width) {
    padding-bottom: 13px;
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 9px;
    padding-top: 0;
  }
}
