/*.feedback {

}*/

/*.feedback__list {

}*/

.feedback__item {
  margin: 0;
}

.feedback__man {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.feedback__text {
  color: $blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 688px;
  }
}

.feedback__prev {
  background-image: url("../img/left-arrow.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 41px;
  border: 0;

  @media (max-width: 959px) {
    display: none;
  }
}

.feedback__next {
  background-image: url("../img/right-arrow.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 41px;
  border: 0;

  @media (max-width: 959px) {
    display: none;
  }
}

.feedback__toggles {
  margin: 0;
  text-align: center;
}
