@media (min-width: $desktop-width) {
  .feedback::before {
    content: "";
    display: block;
    width: 79px;
    height: 63px;
    background: url("../img/quotes.svg") no-repeat center;
    margin-left: auto;
    margin-right: auto;
  }
}

.feedback {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    margin-bottom: 0;
  }
}

.feedback__wrapper {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.feedback__list {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.feedback__item {
  margin: 0;
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
  }
}

.feedback__text {
  color: $blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  width: 280px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    width: 620px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 688px;
  }
}

.feedback__man {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.feedback__man-info {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: $blue;
    line-height: 29px;
    padding-right: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 38px;
  }
}

.feedback__btns {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 163px;
  margin-bottom: -2px;

  @media (max-width: 959px) {
    display: none;
  }
}

.feedback__prev {
  background-image: url("../img/left-arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 22px;
  height: 41px;
  border: 0;
}

.feedback__next {
  background-image: url("../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 22px;
  height: 41px;
  border: 0;
}

.feedback__toggles {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 63px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
