.group-element {
  margin-top: 0;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 71px;
  }

  &--grey {
    margin-bottom: 13px;
  }
}

.group-element__input[type="checkbox"] {
  appearance: none;
  width: 0;
  padding: 0;
}

.group-element__label {
  font-weight: 400;
  color: $blue;
  font-size: 18px;
  line-height: 30px;
  display: flex;
}

.group-element--grey .group-element__label-text {
  margin-left: 20px;
  line-height: 40px;
}

.group-element__label-text {
  margin-left: 30px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}
