.intro {
  margin-bottom: 0;
  background-color: $darkblue;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 682px;
    background: url("../img/back-tablet@1x.jpg") no-repeat;
    background-size: 100%;
    background-position: 50% -47px;

    @media (min-resolution: 2dppx) {
      background: url("../img/back-tablet@2x.jpg") no-repeat;
      background-size: 100%;
      background-position: 50% -47px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 853px;
    background: url("../img/back-desktop@1x.jpg") no-repeat;
    background-size: 125%;
    background-position: 49% -2px;

    @media (min-resolution: 2dppx) {
      background: url("../img/back-desktop@2x.jpg") no-repeat;
      background-size: 126%;
      background-position: 50% -2px;
    }
  }
}

.intro::before {
  @media (max-width: 659px) {
    content: "";
    display: block;
    height: 459px;
    background: url("../img/iphone-arm.png") no-repeat bottom left, url("../img/back.jpg") no-repeat;
    background-position: 0 100%, 100% -2px;
    right: 27px;

    @media (min-resolution: 2dppx) {
      background: url("../img/iphone-arm-mobile@2x.png") no-repeat bottom left, url("../img/back-mobile@2x.jpg") no-repeat;
      background-size: 258px auto, 319px auto;
    }
  }
}

.intro__wrapper {
  @media (min-width: $tablet-width) {
    width: 620px;
    height: 682px;
    margin: 0 auto;
    background: url("../img/iphone-arm-tablet@1x.png") no-repeat center 137px;

    @media (min-resolution: 2dppx) {
      background: url("../img/iphone-arm-tablet@2x.png") no-repeat center 137px;
      background-size: 700px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    height: 853px;
    background: url("../img/iphone-arm-desktop@1x.png") no-repeat bottom;
    background-position-x: 16px;

    @media (min-resolution: 2dppx) {
      background: url("../img/iphone-arm-desktop@2x.png") no-repeat bottom;
      background-size: 1050px;
      background-position-x: 16px;
    }
  }
}
