.intro {
  margin-bottom: 0;
  background-color: $darkblue;
  text-align: center;
}

.intro::before {
  content: "";
  display: block;
  height: 462px;
  background: url("../img/iphone-arm.png") no-repeat bottom left, url("../img/back.jpg") no-repeat;
  right: 27px;

  @media (min-width: $tablet-width) {
    content: "";
    height: 853px;
    background: url("../img/iphone-arm.png") no-repeat bottom center, url("../img/back-tablet@1x.jpg") no-repeat;
  }
}

.intro__wrapper {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}
