/*.main-form {
  margin-left: auto;
  margin-right: auto;
}*/

/*.main-form__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}*/

.main-form__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  width: 228px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 102px;
  padding-bottom: 51px;

  @media (min-width: $tablet-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.main-form__background {
  margin-left: auto;
  margin-right: auto;
  min-height: 237px;
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $blue;
}

.main-form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $blue;
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 490px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
  }
}

.main-form__subscription {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    color: $blue;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}
