.main-form {
  margin-left: auto;
  margin-right: auto;
}

.main-form__wrapper {
  text-align: center;
}

.main-form__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  width: 228px;
  text-align: center;
  margin: 0;
  padding-top: 102px;
  padding-bottom: 51px;
}

.main-form__background {
  margin-left: auto;
  margin-right: auto;
  min-height: 237px;
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
}

.main-form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $blue;
  width: 280px;
  text-align: center;
}

.main-form__inscription {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $blue;
  text-align: center;
}
