.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {

}

.main-nav__link {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
