.page-main {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.page-main__intro {
  background: url("../img/back.jpg") no-repeat center;
  background-color: $blue;
  background-size: cover;
  background-position: 100% -3px;
  min-height: 234px;

  @media (min-width: $tablet-width) {
    background: url("../img/back-tablet@1x.jpg") no-repeat center;
    background-position: 50% -47px;
    min-height: 393px;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/back-desktop@1x.jpg") no-repeat center;
    min-height: 394px;
    background-position: 50.5% -1px;
    background-size: 124%;
  }
}

.page-main__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  padding-top: 91px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 129px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 168px;
  }
}
