.page-footer {
  &--catalog {
    padding-top: 24px;

    @media (min-width: $tablet-width) {
      padding-top: 6px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }
}

.page-footer__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0 auto;
    width: 940px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__link {
    padding-top: 20px;
  }
}

.page-footer__logo-mobile {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__logo-desktop {
  @media (max-width: 959px) {
    display: none;
  }
}
