/*.photopost {
  margin: 0 auto;
}*/

.photopost__intro {
  padding-top: 29px;
  padding-bottom: 52px;

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

.photopost__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $blue;
  width: 280px;
  text-align: center;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 422px;
  }
}

.photopost__form-wrapper {
  text-align: center;
  background-color: $grey;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
  }

  @media (min-width: $desktop-width) {
    background-color: white;
    padding-top: 0;
  }
}
