.photopost {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    padding-bottom: 35px;
  }
}

.photopost__intro {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }
}

.photopost__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $blue;
  text-align: center;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 422px;
    margin-bottom: 0;
    padding-bottom: 68px;
  }
}

.photopost__form-wrapper {
  text-align: center;
  background-color: $grey;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
  }

  @media (min-width: $desktop-width) {
    background-color: white;
    padding-top: 0;
  }
}
