.photo-form {
  background-color: $grey;
  padding-top: 20px;
}

/*.photo-form__label {

}

.photo-form__input {

}*/

.photo-form__filters {
  list-style: none;
  margin: 0;
}

.photo-form__element-btn {
  margin-top: 0;
  margin-bottom: 12px;
}

.photo-form__buttons {
  border-top: 1px solid rgba(40, 54, 69, 0.1);
  padding-top: 38px;
  padding-bottom: 41px;
}

.photo-form__post {
  width: 280px;
  background-color: transparent;
  border: 3px solid $pink;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $pink;
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
}

.photo-form__cancel {
  width: 280px;
  background-color: transparent;
  border: 3px solid rgba(40, 54, 69, 0.1);
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: rgba(40, 54, 69, 0.1);
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
}
