.photo {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    width: 300px;
    box-sizing: border-box;

    &--streched {
      width: 100%;
    }
  }
}

.photo__wrapper {
  text-align: center;
}

.photo__link {
  position: relative;
  bottom: -5px;

  /*&--streched {

  }*/
}

.photo__category {
  padding: 13px 20px 14px 20px;
  background-color: $pink;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  left: 179px;
}

.photo__caption {
  width: 253px;
  background-color: $grey;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    width: 246px;
    padding: 30px 24px 31px 30px;
  }

  &--streched {
    @media (min-width: $tablet-width) {
      padding: 30px 30px;
      width: 560px;
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      width: 880px;
    }
  }
}

.photo__caption--streched .photo__author {
  @media (min-width: $tablet-width) {
    order: 1;
    width: 50%;
  }
}

.photo__caption--streched .photo__likes {
  @media (min-width: $tablet-width) {
    order: 2;
    width: 50%;
    line-height: 10px;
    justify-content: flex-end;
    align-items: baseline;
  }
}

.photo__caption--streched .like {
  @media (min-width: $tablet-width) {
    position: static;
    margin-left: 15px;
  }
}

.photo__caption--streched .photo__comment {
  @media (min-width: $tablet-width) {
    order: 3;
    width: 100%;
  }
}

.photo__author {
  margin: 0;
  padding-top: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.photo__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $blue;
  text-transform: uppercase;
  text-align: left;
}

.photo__comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $blue;
  margin: 0;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 13px;
    min-height: 48px;
  }
}

.photo__likes {
  display: inline-flex;
  vertical-align: middle;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
}

.photo__like-counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: $pink;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  padding-left: 18px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    order: -1;
  }
}
