/*.photopost {

}*/

.photopost__intro {
  padding-top: 29px;
  padding-bottom: 52px;
}

.photopost__title {
  font-weight: 400px;
  font-size: 14px;
  line-height: 30px;
  color: $blue;
  width: 280px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.photopost__form-wrapper {
  text-align: center;
}
