.photo-filter {
  padding-top: 42px;
}

.photo-filter__item {
  vertical-align: middle;
  display: inline-block;
  margin-right: 35px;
}

.photo-filter__btn {
  border: none;
  background-color: transparent;
}
