.photo-filter {
  padding-top: 35px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.photo-filter__item {
  vertical-align: middle;
  display: inline-block;
  margin-right: 16px;
}

.photo-filter__item:first-child {
  margin-left: 4px;
}

.photo-filter__btn {
  border: none;
  background-color: transparent;
}
