.photo-filter {
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.photo-filter__item {
  vertical-align: middle;
  display: inline-block;
  margin-right: 35px;
}

.photo-filter__btn {
  border: none;
  background-color: transparent;
}
