.photo {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 300px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 53px;
  }

  &--streched {
    @media (min-width: $tablet-width) {
      width: 100%;
      padding-bottom: 50px;
    }
  }
}

.photo__wrapper {
  text-align: center;
}

.photo__link {
  position: relative;
  width: 100%;
  height: 180px;
  display: block;

  @media (min-width: $tablet-width) {
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }

  &--streched {
    height: 137px;

    @media (min-width: $tablet-width) {
      height: 510px;
    }

    @media (min-width: $desktop-width) {
      height: 507px;
    }
  }
}

.photo__picture {
  max-height: 137px;

  @media (min-width: $tablet-width) {
    max-height: 510px;
  }

  @media (min-width: $desktop-width) {
    min-height: 507px;
  }
}

.photo__category-wrapper {
  position: absolute;
  left: 50%;

  @media (max-width: 659px) {
    top: -2px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 170px;
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 330px;
    top: 54px;
  }
}

.photo__category {
  padding: 10px 20px 10px 20px;
  background-color: $pink;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 11px;
  }

  /*@media (min-width: $desktop-width) {
    right: 9px;
    top: 55px;
  }*/
}

.photo__caption {
  width: 253px;
  background-color: $grey;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17px;
  padding-right: 10px;
  min-height: 121px;

  @media (min-width: $tablet-width) {
    width: 246px;
    padding: 23px 24px 11px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 27px;
    padding-right: 27px;
  }

  &--streched {
    @media (min-width: $tablet-width) {
      padding: 23px 30px 25px 30px;
      width: 560px;
      display: flex;
      flex-wrap: wrap;
      min-height: 0;
    }

    @media (min-width: $desktop-width) {
      width: 884px;
      padding: 24px 29px 0 25px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.photo__caption--streched br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.photo__caption--streched .photo__author {
  @media (min-width: $tablet-width) {
    order: 1;
    width: 50%;
  }
}

.photo__caption--streched .photo__likes {
  @media (min-width: $tablet-width) {
    order: 2;
    width: 50%;
    line-height: 10px;
    justify-content: flex-end;
    align-items: baseline;
  }
}

.photo__caption--streched .like {
  @media (min-width: $tablet-width) {
    position: static;
    margin-left: 15px;
  }
}

.photo__caption--streched .photo__comment {
  @media (min-width: $tablet-width) {
    order: 3;
    width: 100%;
    margin-bottom: 0;
  }
}

.photo__author {
  margin: 0;
  padding-top: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.photo__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $blue;
  text-transform: uppercase;
  text-align: left;
}

.photo__comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $blue;
  margin: 0;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
    padding-bottom: 0;
    min-height: 48px;
  }
}

.photo__likes {
  display: inline-flex;
  vertical-align: middle;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
}

.photo__like-counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: $pink;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  padding-left: 18px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    order: -1;
  }
}
