.price-variant {
  height: 60px;

  @media (min-width: $tablet-width) {
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    height: 61px;
  }
}

.price-variant__name {
  width: 276px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $blue;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 2px solid $darkgrey;

  @media (max-width: 659px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 46px;
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 2px;
    padding-left: 21px;
  }
}

@media (max-width: 659px) {
  .price-variant__name1::before {
    content: "Розовый фильтр";
    font-weight: 400;
    font-size: 14px;
    line-height: 46px;
    text-transform: uppercase;
  }

  .price-variant__name2::before {
    content: "Смайлики";
    font-weight: 400;
    font-size: 14px;
    line-height: 46px;
    text-transform: uppercase;
  }

  .price-variant__name3::before {
    content: "Комментарии";
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 45px;
  }
}

.price-variant__yes {
  background-image: url("../img/yes.svg");
  background-repeat: no-repeat;
  width: 274px;
  border: solid 2px $darkgrey;
  padding-left: 20px;
  padding-right: 55px;

  @media (max-width: 659px) {
    background-position: right;
    background-position-x: 229px;
  }

  @media (min-width: $tablet-width) {
    background-position: center;
    width: 25%;
  }
}

.price-variant__no {
  background-image: url("../img/no.svg");
  background-repeat: no-repeat;
  width: 274px;
  border: solid 2px $darkgrey;
  padding-left: 20px;
  padding-right: 45px;

  @media (max-width: 659px) {
    background-position: right;
    background-position-x: 230px;
  }

  @media (min-width: $tablet-width) {
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}
