.price {
  margin: 0;
  padding: 0;
  background-color: $grey;
  background-image: url("../img/grey-background.jpg");
  background-repeat: no-repeat;
}

/*.price__wrapper {

}*/

.price__table {
  padding-top: 80px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.price__table-header {
  width: 276px;
  padding-top: 14px;
  padding-bottom: 20px;
  background-color: $blue;
  border-right: solid 2px $grey;
  text-align: center;

  &--color {
    background-color: transparent;
  }
}

.price__table-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;

  &--font {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
  }
}

.price__table-body {
  background-color: #ffffff;
}

.price__toggles {
  margin: 0;
  text-align: center;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
