@media (min-width: $tablet-width) {
  .scale--crop::before {
    content: "";
    background-image: url("../img/crop-tablet.svg");
    width: 22px;
    height: 22px;
    position: absolute;
    left: -51px;
    top: -11px;
  }

  .scale--fill::before {
    content: "";
    background-image: url("../img/fill-tablet.svg");
    width: 22px;
    height: 22px;
    position: absolute;
    left: -51px;
    top: -9px;
  }

  .scale--contrast::before {
    content: "";
    background-image: url("../img/contrast-tablet.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 22px;
    height: 22px;
    position: absolute;
    left: -51px;
    top: -11px;
  }
}

/*
<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M32 28H36V12C36 10.9391 35.5786 9.92172 34.8284 9.17157C34.0783 8.42143 33.0609 8 32 8H16V12H32V28ZM12 32V0H8V8H0V12H8V32C8 33.0609 8.42143 34.0783 9.17157 34.8284C9.92172 35.5786 10.9391 36 12 36H32V44H36V36H44V32H12Z" fill="#D22856"/>
</svg>
*/

@media (min-width: $desktop-width) {
  .scale--crop::before {
    content: "";
    background-image: url("../img/crop.svg");
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' width='44' height='44' fill='#D22856' background-repeat:no-repeat; background-position:center;");
    width: 44px;
    height: 44px;
    position: absolute;
    left: -91px;
    top: -22px;
  }

  .scale--fill::before {
    content: "";
    background: url("../img/fill.svg");
    fill: $pink;
    width: 48px;
    height: 43px;
    position: absolute;
    left: -91px;
    top: -20px;
  }

  .scale--contrast::before {
    content: "";
    background-image: url("../img/contrast.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -84px;
    top: -16px;
  }
}

.scale {
  height: 2px;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}
