.toggle {
  position: relative;
  bottom: 19px;
  left: 75px;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 2px solid $pink;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
